.nav-bar {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
.navigation {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-left: 0px;
  margin-right: 35px;
  gap: 15px;
}
li {
  background-color: rgb(0, 113, 205);
  width: 360px;
  height: 60px;
  padding: 0px;
  text-align: center;
  color: white;
  line-height: 330%;
  font-size: 20px;
  cursor: pointer;
}
li:hover {
  background-color: skyblue;
}
.header {
  display: flex;
  margin-right: 0px;
  margin-left: 40px;
}
.item1 {
  font-size: 35px;
  border-right: 2px solid grey;
  padding-right: 10px;
}
.item2 {
  padding-left: 10px;
  margin-top: 10px;
}
.contact {
  position: absolute;
  right: 50px;
  width: 160px;
  font-size: smaller;
  top: 75px;
}
a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: red;
}

.BOX {
  display: flex;
  justify-content: center;
  position: relative;
}
.box-1 {
  background-color: skyblue;
  height: 300px;
  width: 950px;
  font-size: 100px;
  text-align: center;
  font-style: oblique;
  -webkit-text-fill-color: white;
}
.box-2 {
  position: absolute;
  background-color: rgb(0, 113, 205);
  height: 100px;
  width: 650px;
  bottom: -30px;
  right: 500px;
  font-size: 60px;
  text-align: center;
  -webkit-text-fill-color: white;
}
.box-3 {
  position: absolute;
  background-color: rgb(0, 113, 205);
  text-align: center;
  font-size: 10px;
  height: 140px;
  width: 260px;
  -webkit-text-fill-color: white;
  left: 500px;
  top: 24px;
}
h2 {
  border-bottom: 2px dotted white;
  font-weight: lighter;
}
