<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="flex-container">
      <div class="nav-bar">
        <ul class="navigation">
          <li>HOME</li>
          <li>ABOUT US</li>
          <li>CONTACT</li>
          <li>COMPANY</li>
          <li>SERVICES</li>
        </ul>
      </div>
      <div class="header">
        <div class="item1">TechCorporate</div>
        <div class="item2">Free PSD Website Template</div>
        <div class="contact">
          <p class="tel">
            <a href="tel:xxxxx xxxxxxxxxx">Tel: xxxxx xxxxxxxxxx</a>
          </p>
          <p class="mail">
            <a href="mailto:info@domain.com">Mail: info@domain.com</a>
          </p>
        </div>
      </div>
      <div class="BOX">
        <div class="box-1">TECHNOLOGY</div>
        <div class="box-2">Todays Techonology >></div>
        <div class="box-3">
          <h2>Laoremhabitur et phasellent wisi</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            laboriosam esse temporibus sunt necessitatibus, earum, incidunt ea,
            tempora itaque eligendi quae aliquam numquam alias facilis ad
            recusandae accusantium. Commodi, eos.
          </p>
        </div>
      </div>
      <div class="articles1">
        <div class="card">
          <h2>Indonectetus facilis leos nibh</h2>
          <div class="fakeimg">240 x 90px</div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            nobis consequatur atque maiores accusantium eos officiis enim quod
            voluptates mollitia, deserunt reprehenderit minima illo dolorum. Hic
            quos quasi eveniet, perspiciatis nulla laborum autem natus?
          </p>
          <div class="readmore">
            <a href="#">Read More >></a>
          </div>
        </div>
        <div class="card">
          <h2>Indonectetus facilis leos nibh</h2>
          <div class="fakeimg">240 x 90px</div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            nobis consequatur atque maiores accusantium eos officiis enim quod
            voluptates mollitia, deserunt reprehenderit minima illo dolorum. Hic
            quos quasi eveniet, perspiciatis nulla laborum autem natus?
          </p>
          <div class="readmore">
            <a href="#">Read More >></a>
          </div>
        </div>
        <div class="card">
          <h2>Indonectetus facilis leos nibh</h2>
          <div class="fakeimg">240 x 90px</div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            nobis consequatur atque maiores accusantium eos officiis enim quod
            voluptates mollitia, deserunt reprehenderit minima illo dolorum. Hic
            quos quasi eveniet, perspiciatis nulla laborum autem natus?
          </p>
          <div class="readmore">
            <a href="#">Read More >></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
