<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="flex-container">
      <div class="nav-bar">
        <div class="item">HOME</div>
        <div class="item">ABOUT US</div>
        <div class="item">CONTACT</div>
        <div class="item">COMPANY</div>
        <div class="item">SERVICES</div>
      </div>
      <div class="header">
        <div class="item1">TechCorporate</div>
        <div class="item2">Free PSD Website Template</div>
        <div class="item3">Tel: xxxxx xxxxxxxxxx Mail: info@domain.com</div>
      </div>
      <div class="BOX">
        <div class="box-1">TECHNOLOGY</div>
        <div class="box-2">Todays Techonology >></div>
        <div class="box-3">
          <h2>Laoremhabitur et phasellent wisi</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            laboriosam esse temporibus sunt necessitatibus, earum, incidunt ea,
            tempora itaque eligendi quae aliquam numquam alias facilis ad
            recusandae accusantium. Commodi, eos.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
