<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="flex-container">
      <div class="nav-bar">
        <ul class="navigation">
          <li>HOME</li>
          <li>ABOUT US</li>
          <li>CONTACT</li>
          <li>COMPANY</li>
          <li>SERVICES</li>
        </ul>
      </div>
      <div class="header">
        <div class="item1">TechCorporate</div>
        <div class="item2">Free PSD Website Template</div>
        <div class="contact">
          <p class="tel">
            <a href="tel:xxxxx xxxxxxxxxx">Tel: xxxxx xxxxxxxxxx</a>
          </p>
          <p class="mail">
            <a href="mailto:info@domain.com">Mail: info@domain.com</a>
          </p>
        </div>
      </div>
      <div class="BOX">
        <div class="box-1">TECHNOLOGY</div>
        <div class="box-2">Todays Techonology >></div>
        <div class="box-3">
          <h2>Laoremhabitur et phasellent wisi</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            laboriosam esse temporibus sunt necessitatibus, earum, incidunt ea,
            tempora itaque eligendi quae aliquam numquam alias facilis ad
            recusandae accusantium. Commodi, eos.
          </p>
        </div>
      </div>
      <div class="articles1">
        <div class="card">
          <h2>Indonectetus facilis leos nibh</h2>
          <div class="fakeimg">240 x 90px</div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            nobis consequatur atque maiores accusantium eos officiis enim quod
            voluptates mollitia, deserunt reprehenderit minima illo dolorum. Hic
            quos quasi eveniet, perspiciatis nulla laborum autem natus?
          </p>
          <div class="readmore">
            <a class="read">Read More >></a>
          </div>
        </div>
        <div class="card">
          <h2>Indonectetus facilis leos nibh</h2>
          <div class="fakeimg">240 x 90px</div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            nobis consequatur atque maiores accusantium eos officiis enim quod
            voluptates mollitia, deserunt reprehenderit minima illo dolorum. Hic
            quos quasi eveniet, perspiciatis nulla laborum autem natus?
          </p>
          <div class="readmore">
            <a class="read">Read More >></a>
          </div>
        </div>
        <div class="card">
          <h2>Indonectetus facilis leos nibh</h2>
          <div class="fakeimg">240 x 90px</div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            nobis consequatur atque maiores accusantium eos officiis enim quod
            voluptates mollitia, deserunt reprehenderit minima illo dolorum. Hic
            quos quasi eveniet, perspiciatis nulla laborum autem natus?
          </p>
          <div class="readmore">
            <a class="read">Read More >></a>
          </div>
        </div>
      </div>
      <div class="articles2">
        <div class="description">
          <div class="fakeimg1">200 x 160px</div>
          <h2>Indonectus facilis leos nibh</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque,
            sint excepturi delectus incidunt laboriosam quidem velit! Neque cum
            voluptate natus? Et autem cumque minus provident repellendus sit
            deserunt dolor, est ipsa tempora deleniti laborum quam facilis quos!
            Atque consectetur dolorem obcaecati corporis omnis, fugiat itaque
            voluptate a nisi laboriosam?
          </p>
          <a class="continuereading">Continue Reading >></a>
        </div>
        <div class="categories">
          <h2>Categories</h2>
          <ul class="links">
            <ol>
              <a class="link1">>>Link Text Goes Here</a>
            </ol>
            <ol>
              <a class="link2">>>Link Text Goes Here</a>
            </ol>
            <ol>
              <a class="link3">>>Link Text Goes Here</a>
            </ol>
            <ol>
              <a class="link4">>>Link Text Goes Here</a>
            </ol>
            <ol>
              <a class="link5">>>Link Text Goes Here</a>
            </ol>
          </ul>
        </div>
      </div>
      <div class="imagini">
        <div class="pictures">174 x 100px</div>
        <div class="pictures">174 x 100px</div>
        <div class="pictures">174 x 100px</div>
        <div class="pictures">174 x 100px</div>
        <div class="pictures">174 x 100px</div>
      </div>
      <div class="bottom">
        <a class="copyright">Copyright &#169 2009 Domain Name - All Rights Reserved</a>
        <p>Template by OS Templates</p>
      </div>
    </div>
  </body>
</html>
